
!bin/
!scripts/
# Allow bin/ and scripts/ helper execution scripts to be committed when necessary
# Development scripts
# Grep output
# Python cache
# TitleDB JSON
# pyenv
# venv
*$py.class
*.backup
*.db
*.dump
*.py[cod]
*.pyc
*.sql
.coverage
.python-version*.db
/Scripts
/bin
/include
/lib
/lib64
/pyvenv.cfg
/share
/venv
__pycache__
app/config/*.db
check_db.py
config
data
debug_watcher.py
get_library_path.py
grep_results.txt
htmlcov/
reproduce_issue.py
titles.BR.pt.json
titles.json
