version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: myfoil-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: myfoil
      POSTGRES_PASSWORD: myfoilpassword
      POSTGRES_DB: myfoil
    volumes:
      - postgres_data:/var/lib/postgresql/data

  worker:
    healthcheck:
      test: [ "CMD-SHELL", "celery -A celery_app.celery inspect ping" ]
      interval: 60s
      timeout: 20s
      retries: 5
      start_period: 30s

    container_name: myfoil-worker
    build:
      context: .
      dockerfile: Dockerfile
      cache_from:
        - myfoil:latest
    restart: unless-stopped
    # Use gevent pool since we are monkeypatching everything
    command: celery -A celery_app.celery worker --loglevel=info --concurrency=20 -P gevent
    depends_on:
      redis:
        condition: service_healthy
      myfoil:
        condition: service_started
    environment:
      - DATABASE_URL=postgresql://myfoil:myfoilpassword@postgres:5432/myfoil
      - REDIS_URL=redis://redis:6379/0
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
      - CELERY_REQUIRED=true
    volumes:
      - /path/to/your/games:/games
      - /path/to/your/externo:/externo
      - ./config:/app/config
      - ./data:/app/data

volumes:
  postgres_data:
